<h3>Clinic Setup</h3>
<hr/>

<% if @clinic.errors.any? %>
  <div class="error_messages">
    <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>
    <ul>
    <% @clinic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @clinic, :url => wizard_path, :method => :put do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone %>
  </div>
  
  <div class="field">
    <%= f.label :work_from_time %><br />
    <div class="input-append bootstrap-timepicker">
      <%= f.text_field :work_from_time, { :class => "input-small" } %>
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </div>

  <div class="field">
    <%= f.label :work_to_time %><br />
    <div class="input-append bootstrap-timepicker">
      <%= f.text_field :work_to_time, { :class => "input-small" } %>
      <span class="add-on"><i class="icon-time"></i></span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  window.onload = function(){ 
    $("#clinic_work_from_time").timepicker(); 
    $("#clinic_work_to_time").timepicker();
  };
</script>
