<%= form_for [@practitioner, @medical_representative_note], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', :resource => @medical_representative_note %>

  <div class="control-group">
    <%= f.label :rep_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rep_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rep_company, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rep_company, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rep_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rep_phone %>
    </div>
  </div>
  
  <br/>
  (Press enter after each line)
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, { :rows => 5 } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                practitioner_medical_representative_notes_path(@practitioner), :class => 'btn' %>
  </div>
<% end %>
