<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' 
  rel='stylesheet' type='text/css'>

<%- model_class = PatientHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= will_paginate(@patient_histories) %>
<ul id="notes" style="list-style: none;">
  <% @patient_histories.each do |patient_history| %>
    <li>
      <p class="text-right">
        <%= link_to patient_history.id, patient_patient_history_path(@patient, patient_history) %>
        <b>Conusultant</b>
        <%= patient_history.consultant_name %>
        <br/>
        <b>Clinic</b>
        <%= patient_history.consultant_clinic_name %>
        <br/>
        <b>Phone No.</b>
        <%= patient_history.consultant_phone_no %>
      </p>
      <hr/>
      
      <p style="font-size: 25px;">
        <b>Symptoms</b>
        <%= patient_history.symptoms %>
        <br/>
        <b>Medication</b>
        <%= patient_history.medication %>
        <br/>
        <%= patient_history.from_date.strftime("%d %B %Y") %>
         to 
        <%= patient_history.to_date.strftime("%d %B %Y") %>
        <br/>
        <b>Follow up</b>
        <%= patient_history.follow_up %>
      </p>

      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_patient_patient_history_path(@patient, patient_history), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  patient_patient_history_path(@patient, patient_history),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </li>
  <% end %>
</ul>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_patient_patient_history_path(@patient),
            :class => 'btn btn-primary' %>
