<tr>
  <td><%= f.text_field :transaction_id, { :readonly => true, :class => "input-small" } %></td>
  <td><%= f.text_field :transaction_type, { :readonly => true } %></td>
  <td><%= f.text_field :amount, { :readonly => true, :class => "input-small" } %></td>
	<td><%= f.text_field :discount, :class => 'input-small' %></td>
  <td><%= f.text_field :discount_note, :class => 'text_field' %></td>
</tr>
